# OS / tooling
.DS_Store
Thumbs.db
*.log

# Node/Frontend
node_modules/
dist/
build/

# Python / Git
__pycache__/
.git/
.gitignore

# IDE
.vscode/
.idea/

# Binaries & archives
*.exe
*.zip
*.tar
*.tar.gz
*.tgz
